/*  your css code here. If applicable */
div{
	height: 200px;
	width: 200px;
	background-color: lightblue;
	border: 2px solid black; 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: purple;
}
p{
	
	margin: 0px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}